@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@100;400&family=Playpen+Sans&family=Roboto:wght@900&family=Varela+Round&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* always full background */
    min-height: 100vh; 
    font-family: Montserrat, sans-serif;
    background: linear-gradient(to right, rgb(215, 191, 157), rgb(137, 112, 164));;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

.input-box{
    text-align: center;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
  }

/* Media Query: Large Smartphone Vertical */
@media screen and (max-width: 600px) {
    h1 {
      font-size: 15px;
    }
  
    .image-container {
      margin: 10px;
    }
}